$enable-gradients: false;
$enable-shadows: false;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .2rem;
$success: #4daa35;
$primary: #3a6fbd;

$link-color:                              $primary;
$link-decoration:                         none;
$link-hover-decoration:                   underline;
